@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Squids&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font definition if needed */
@font-face {
  font-family: "squids";
  src: url("/src/fonts/Game\ Of\ Squids.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "anta";
  src: url("/src/fonts/anta.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "misa";
  src: url("/src/fonts/13_Misa.TTF") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "stroker";
  src: url("/src/fonts/Faster\ Stroker.otf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: url("/src/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Hide scrollbar for all elements */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Ensure content is still scrollable
html,
body {
  overflow-y: auto;
  overflow-x: hidden;
} */
